/.github/                             export-ignore
/bin/build                            export-ignore
/bin/dev/                             export-ignore
/src/Console/Command/BuildCommand.php export-ignore
/src/Util/PharBuilder.php             export-ignore
/tests/                               export-ignore
/.editorconfig                        export-ignore
/.gitattributes                       export-ignore
/.gitignore                           export-ignore
/Dockerfile                           export-ignore
/phpstan.neon                         export-ignore
/phpunit.xml.dist                     export-ignore
